.form {
    display: grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}



.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border:1px solid #ddd;
    margin-bottom: 1rem;
    outline: none;
}

.button {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(0,0,0,0.85);
}

.showingPage {
    font-size: 2rem;
    margin-top: 3rem;
}



.pagination {
    list-style: none;
}

.pagination a {
    text-decoration: none;
    color: #CC2211;
    
}

.pagination li {
    margin-top: 20px;
    background-color: white;
    display: inline-block;
    font-size: 2em;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: capitalize;
    min-width: 120px;
}


@media(min-width:786px) {
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }

    .input {
        margin-bottom: 0;
    }
}